li{
    list-style: none;
    text-decoration: underline;
    background-color:lavenderblush ;
    border:  1px solid lavenderblush;
    color: black;
    width: 2.5em;
    text-align: center;
    margin-bottom: 1px;
}